:root {
  --bg: #3E2F5B;
  --primary: #EB5E55;
  --secondary: #DFD6A7;
  --border: #ef476f;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background-color: var(--bg);
}

.border {
  border-radius: 0.25em;
}